<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{546,1},{720,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{289,950},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{377,950},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{465,950},{86,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,801}</string>
                <key>spriteSourceSize</key>
                <string>{129,801}</string>
                <key>textureRect</key>
                <string>{{284,1},{129,801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{466,140}</string>
                <key>spriteSourceSize</key>
                <string>{508,158}</string>
                <key>textureRect</key>
                <string>{{1828,1},{466,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{500,136}</string>
                <key>spriteSourceSize</key>
                <string>{508,158}</string>
                <key>textureRect</key>
                <string>{{1828,469},{500,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>getready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{508,144}</string>
                <key>spriteSourceSize</key>
                <string>{508,158}</string>
                <key>textureRect</key>
                <string>{{289,804},{508,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,281}</string>
                <key>spriteSourceSize</key>
                <string>{840,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{840,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1639,838},{113,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>medal_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1639,723},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,298}</string>
                <key>spriteSourceSize</key>
                <string>{590,298}</string>
                <key>textureRect</key>
                <string>{{799,723},{590,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{286,166}</string>
                <key>spriteSourceSize</key>
                <string>{290,176}</string>
                <key>textureRect</key>
                <string>{{1,843},{286,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,246}</string>
                <key>spriteSourceSize</key>
                <string>{286,246}</string>
                <key>textureRect</key>
                <string>{{1391,723},{286,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_pipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,801}</string>
                <key>spriteSourceSize</key>
                <string>{129,801}</string>
                <key>textureRect</key>
                <string>{{415,1},{129,801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>res_bundle.png</string>
            <key>size</key>
            <string>{1969,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07dfdb126d1df53a99ddd11bf7d84dd7:836ee54c79a232bc5b68f6c5030d99e9:667d8209f89e56c38ae5d7fb04d5686f$</string>
            <key>textureFileName</key>
            <string>res_bundle.png</string>
        </dict>
    </dict>
</plist>
